* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background-color: #454545;
    color: #fff;
}

h1 {
    position: relative;
}

h1::before,
h1::after {
    content: '';
    position: absolute;
    inset: 0;
}

h1::before {
    background-color: #454545;
    animation: typing 4s steps(14) 1000ms forwards,
        del 3s steps(6) 5.1s forwards;
}

h1::after {
    width: 2px;
    background-color: #000;
    animation: typing 4s steps(14) 1000ms forwards,
        belink 500ms infinite,
        del 3s steps(6) 5.1s forwards;
}

@keyframes typing {
    to {
        left: 100%;
    }
}

@keyframes belink {

    from,
    to {
        background: transparent;
    }

    50% {
        background: #fff;
    }
}

@keyframes del {

    from {
        left: 100%;
    }

    to {
        left: 8ch;
    }
}